#search_box_div {
  position: fixed;
  top: 75px;
  right: 10px;
  height: 100px;
  width: 180px;
  z-index: 100;
}

#search_box_div #search_query {
 color: gray;
 width: 160px;
}

#search_box_div #search_message {
  float: left;
  color: red;
}

#search_box_div #search_submit {
  float: left;
  font-weight: 500;
  color: white;
  background-color: blue;
}

#search_box_div #search_prev, #search_next {
  float: left;
  margin-left: 5px;
  font-weight: 500;
  color: white;
  background-color: blue;
}

.highlight {
  background-color: #DDDDFF;
}

.highlighted {
  background-color: yellow;
}

